pip==25.3
numpy==2.2.6
numpy==2.3.4
typing_extensions==4.15.0
datasets==4.4.1
pandas==2.3.3
conda_package_streaming==0.11.0
aiohappyeyeballs==2.6.1
aiosignal==1.4.0
simsimd==6.5.3
httpcore==1.0.9
PySocks==1.7.1
pydantic==2.12.3
conda-package-handling==2.4.0
networkx==3.5
httpx==0.28.1
menuinst==2.2.0
distro==1.9.0
pyarrow==22.0.0
nvidia-cublas-cu12==12.8.4.1
contourpy==1.3.3
triton==3.5.0
annotated-types==0.7.0
libmambapy==2.1.1
albucore==0.0.24
platformdirs==4.3.8
nvidia-cufile-cu12==1.13.1.3
fsspec==2025.9.0
fonttools==4.60.1
kiwisolver==1.4.9
multidict==6.7.0
joblib==1.5.2
nvidia-nvtx-cu12==12.8.90
cffi==1.17.1
typing-inspection==0.4.2
h2==4.2.0
sniffio==1.3.1
pillow==12.0.0
PyYAML==6.0.3
safetensors==0.6.2
xxhash==3.6.0
hf-xet==1.1.10
wheel==0.45.1
tqdm==4.67.1
hpack==4.1.0
stringzilla==4.2.3
nvidia-cudnn-cu12==9.10.2.21
albumentations==2.0.8
sympy==1.14.0
Brotli==1.1.0
tzdata==2025.2
aiohttp==3.13.1
smmap==5.0.2
idna==3.10
mpmath==1.3.0
boltons==24.0.0
huggingface-hub==0.35.3
transformers==4.57.1
ruamel.yaml==0.18.10
urllib3==2.4.0
click==8.3.0
torchmetrics==1.8.2
filelock==3.20.0
scipy==1.16.3
MarkupSafe==3.0.3
setuptools==80.1.0
nvidia-cuda-cupti-cu12==12.8.90
pycparser==2.22
frozenlist==1.8.0
numpy==1.26.4
nvidia-cusparse-cu12==12.5.8.93
archspec==0.2.5
sentry-sdk==2.42.1
GitPython==3.1.45
pytorch-lightning==2.5.5
propcache==0.4.1
frozendict==2.4.6
requests==2.32.3
pytz==2025.2
colorama==0.4.6
jsonpatch==1.33
torch==2.9.0
attrs==25.4.0
matplotlib==3.10.7
regex==2025.11.3
pycosat==0.6.6
torchtext==0.18.0
python-dateutil==2.9.0.post0
nvidia-cuda-nvrtc-cu12==12.8.93
wandb==0.22.2
hyperframe==6.1.0
six==1.17.0
conda-libmamba-solver==25.3.0
yarl==1.22.0
gitdb==4.0.12
torchvision==0.24.0
zstandard==0.23.0
nvidia-cusparselt-cu12==0.7.1
pluggy==1.5.0
tokenizers==0.22.1
Jinja2==3.1.6
scikit-learn==1.7.2
nvidia-cusolver-cu12==11.7.3.90
pyparsing==3.2.5
anyio==4.11.0
seaborn==0.13.2
nvidia-cuda-runtime-cu12==12.8.90
truststore==0.10.1
pydantic_core==2.41.4
nvidia-cufft-cu12==11.3.3.83
cycler==0.12.1
charset-normalizer==3.4.2
segmentation_models_pytorch==0.5.0
conda==25.3.0
h11==0.16.0
jsonpointer==3.0.0
packaging==25.0
nvidia-nvshmem-cu12==3.3.20
opencv-python-headless==4.12.0.88
certifi==2025.4.26
nvidia-nvjitlink-cu12==12.8.93
dill==0.4.0
lightning-utilities==0.15.2
nvidia-nccl-cu12==2.27.5
nvidia-curand-cu12==10.3.9.90
multiprocess==0.70.18
ruamel.yaml.clib==0.2.8
protobuf==6.33.0
timm==1.0.20
threadpoolctl==3.6.0
